
.container1
{
padding-top: 200px;
padding-right: 100px;
padding-bottom: 50px;
padding-left: 50px;
text-align: center;
background-color: LightGrey;
width: 89%;
height: 61%;
font-size: 1.3em;
 }
